#money {
    text-align: center;
    font-size: 300%;
}

#money2 {
    text-align: center;
    font-size: 300%;
}

#mps {
    text-align: center;
    position: relative;
    bottom: 23px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#automoney {
    text-align: center;
}

#universes {
    margin-left: 30%;
}

#universegain {
    float: right;
    margin-right: 30%;
}

#primary {
    text-align: right;
    color: gray;
    position: relative;
    bottom: 145px;
}

#primaryadd {
    position: relative;
    bottom: 145px;
    float: right;
    height: 25px;
    background-color: rgb(255, 125, 0);
    animation-name: colors;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.upgrades {
    margin-left: 5%;
    margin-right: 5%;
}

@keyframes colors {
    0% {
        background-color: rgb(255, 125, 0)
    }

    3.3% {
        background-color: rgb(255, 100, 0)
    }

    6.7% {
        background-color: rgb(255, 75, 0)
    }

    10% {
        background-color: rgb(255, 50, 0)
    }

    13.3% {
        background-color: rgb(255, 25, 0)
    }

    16.7% {
        background-color: rgb(255, 0, 0)
    }

    20% {
        background-color: rgb(255, 25, 0)
    }

    23.3% {
        background-color: rgb(255, 50, 0)
    }

    26.7% {
        background-color: rgb(255, 75, 0)
    }

    30% {
        background-color: rgb(255, 100, 0)
    }

    33.3% {
        background-color: rgb(255, 125, 0)
    }

    36.7% {
        background-color: rgb(255, 150, 0)
    }

    40% {
        background-color: rgb(204, 175, 0)
    }

    43.3% {
        background-color: rgb(153, 150, 0)
    }

    46.7% {
        background-color: rgb(102, 125, 0)
    }

    50% {
        background-color: rgb(51, 100, 51)
    }

    53.3% {
        background-color: rgb(0, 75, 102)
    }

    56.7% {
        background-color: rgb(0, 50, 153)
    }

    60% {
        background-color: rgb(0, 25, 204)
    }

    63.3% {
        background-color: rgb(0, 0, 255)
    }

    66.7% {
        background-color: rgb(25, 0, 204)
    }

    70% {
        background-color: rgb(50, 0, 153)
    }

    73.3% {
        background-color: rgb(75, 0, 102)
    }

    76.7% {
        background-color: rgb(50, 25, 75)
    }

    80% {
        background-color: rgb(25, 50, 100)
    }

    83.3% {
        background-color: rgb(0, 100, 125)
    }

    86.7% {
        background-color: rgb(0, 150, 150)
    }

    90% {
        background-color: rgb(0, 200, 175)
    }

    93.3% {
        background-color: rgb(0, 255, 200)
    }

    96.7% {
        background-color: rgb(85, 180, 100)
    }

    100% {
        background-color: rgb(170, 140, 0)
    }
}

#gentotal {
    text-align: center;
}

#gen1, #gen2, #gen3 {
    position: relative;
    top: 20px;
    align-items: center;
}

#gen1amount, #gen2amount {
    display: block;
    text-align: center;
    position: relative;
    bottom: 8px;
    align-items: center;
}

#gen3amount {
    display: block;
    text-align: center;
    position: relative;
}

#gen1cost, #gen2cost{
    float: right;
    align-items: center;
    position: relative;
    bottom: 20px;
}

#gen3cost {
    float: right;
    align-items: center;
    position: relative;
    bottom: 16px;
}

#gen1mult, #gen2mult {
    color: gray;
    position: relative;
    bottom: 14px;
    margin-left: 48.3%;
    font-size: 10px;
}

#gen3mult {
    color: gray;
    position: relative;
    bottom: 6px;
    margin-left: 48.3%;
    font-size: 10px;
}

#chal6 {
    width: 310px;
    font-size: 67%;
}
