.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background: lightgrey;
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 4px;
  transition-duration: 0.2s;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 10%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #FFFFFF;
  background: #4980CC;
  font-weight: bold;
  border: 2px solid #4980CC;
  border-radius: 4px;
}
